.contact {
  position: relative;
  min-height: 100vh;
  background-color: #f2f2f2;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  
  &__heading {
    font-size: 4rem;
    font-weight: 300;
  }
  
  &__paragraph {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Roboto';
    padding: 1rem 0;
  }
}

.contact-form {
  height: 80vh;
  display: flex;
  justify-content: center;
  
  &__group {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    width: 33%;
  }
  
  &__sub-group {
    padding: 1rem;
  }
  
  &__input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid lightgrey;
    font-size: 1.5rem;
    font-family: "Roboto";
    
    &:active, 
    &:focus {
      outline: none;
    }
  }
  
  &__label {
    font-size: 1.5rem;
    font-family: "Roboto";
    opacity: 0;
  }
  
  &__textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid lightgrey;
    font-family: "Roboto";
    font-size: 1.5rem;
    
    &:active, 
    &:focus {
      outline: none;
    }
  }
  
  &__btn {
    background-color: #4c4c4c;
    color: white;
    border: none;
    padding: 1.5rem;
    width: 12rem;
    margin: 0 auto;
    font-size: 1.5rem;
    cursor: pointer;
    
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 2rem 3rem rgba(#5e5e5e, 0.2);
    }
    
    &:active {
      transform: translateY(1px);
      outline: none;
    }
    
    &:focus {
      outline: none;
    }
  }
}