<% include partials/header %>
<% include partials/nav %>

  <!--Nav Section-->
  
  <nav>
    <ul class="nav">
      <li class="nav__item">
        <a href="#" class="nav__link">Home</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Portfolio</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Contact</a>
      </li>
    </ul>
  </nav>

  <!--Hero Section-->
  
  <section class="hero">
    <div class="hero__img"></div>
    <h1 class="hero__heading">Kaden Zipfel <span class="hero__heading--span"> Web Developer</span></h1>
    <div class="hero__arrow"></div>
  </section>

<% include partials/footer %>