<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kaden Zipfel</title>
  <link href="../public/css/style.css" rel="stylesheet"></link>
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto" rel="stylesheet">
</head>
<body>

  <!--Nav Section-->
  
  <nav>
    <ul class="nav">
      <li class="nav__item">
        <a href="#" class="nav__link">Home</a>
      </li>
      <li class="nav__item">
        <a href="#portfolio" class="nav__link">Portfolio</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Contact</a>
      </li>
    </ul>
  </nav>

  <!--Hero Section-->
  
  <section class="hero">
    <div class="hero__img"></div>
    <h1 class="hero__heading">Kaden Zipfel <span class="hero__heading--span"> Web Developer</span></h1>
    <div class="hero__arrow"></div>
  </section>
  
  <!--Portfolio Section-->
  
  <section class="portfolio" id="portfolio">
    <h1 class="portfolio__heading">
      Portfolio
    </h1>
    <hr>
    <div class="cards">
      <div class="card card--1">
        <div class="card__img card__img--1"></div>
        <h3 class="card__heading"><a href="https://cannareviews.herokuapp.com/" class="card__link">CannaReviews</a></h3>
        <div class="card__desc">
          Fullstack application in which users can login and leave reviews and 
          comments for various strains of cannabis.
        </div>
      </div>
      <div  class="card card--2">
        <div class="card__img card__img--2"></div>
        <h3 class="card__heading"><a href="../portfolio/Natours/index.html" class="card__link">Natours</a></h3>
        <div class="card__desc">
          Front-end adventure tours business page with many 
          elegant animations.
        </div>
      </div>
      <div class="card card--3">
        <div class="card__img card__img--3"></div>
        <h3 class="card__heading"><a href="../portfolio/mountainsWebpage/index.html" class="card__link">Mountain Travel</a></h3>
        <div class="card__desc">
          Front-end business page for adventure tours.
        </div>
      </div>
      <div class="card card--4">
        <div class="card__img card__img--4"></div>
        <h3 class="card__heading"><a href="../portfolio/Trillo/index.html" class="card__link">Trillo</a></h3>
        <div class="card__desc">
          Front-end of a travel booking application.
        </div>
      </div>
      <div class="card card--5">
        <div class="card__img card__img--5"></div>
        <h3 class="card__heading"><a href="../portfolio/Nexter/index.html" class="card__link">Nexter</a></h3>
        <div class="card__desc">
          Front-end of a real estate business page.
        </div>
      </div>
    </div>
  </section>

</body>
</html>