<% include partials/header %>
<% include partials/nav %>

  <!--Hero Section-->
  
  <section class="hero">
    <div class="hero__img"></div>
    <h1 class="hero__heading">Kaden Zipfel <span class="hero__heading--span"> Web Developer</span></h1>
    <div class="hero__arrow"></div>
  </section>

<% include partials/footer %>