* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Bebas Neue", "Oswald"; }

body {
  position: relative; }

hr {
  height: 1px;
  width: 75vw;
  color: black; }

.hero {
  position: relative; }
  .hero__img {
    background-image: url("../img/back-img.jpg");
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1; }
  .hero__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: .5rem;
    text-transform: uppercase; }
    .hero__heading--span {
      font-weight: 500; }
  .hero__arrow {
    position: absolute;
    background-image: url("../img/down-arrow.png");
    height: 15%;
    width: 15%;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.75; }

.nav {
  position: fixed;
  padding: 1rem 0;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  z-index: 10; }
  .nav__item {
    font-size: 2rem; }
  .nav__link {
    color: white;
    text-decoration: none;
    opacity: 0.8; }
    .nav__link:hover {
      opacity: 1; }

.portfolio {
  position: relative;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 4rem; }
  .portfolio__heading {
    font-size: 4rem;
    font-weight: 300; }

.cards {
  height: 200vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 3rem;
  padding: 3rem; }

.card {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f2f2f2; }
  .card--1 {
    grid-row: 1 / span 4;
    grid-column: 1 / span 6; }
  .card--2 {
    grid-row: 1 / span 4;
    grid-column: 7 / span 6; }
  .card--3 {
    grid-row: 5 / span 4;
    grid-column: 1 / span 6; }
  .card--4 {
    grid-row: 5 / span 4;
    grid-column: 7 / span 6; }
  .card--5 {
    grid-row: 9 / span 4;
    grid-column: 4 / span 6; }
  .card__img--1 {
    background-image: url("../img/CannaReviews.jpg");
    height: 73%;
    width: 100%;
    background-size: cover; }
  .card__img--2 {
    background-image: url("../img/Natours.JPG");
    height: 73%;
    width: 100%;
    background-size: cover; }
  .card__img--3 {
    background-image: url("../img/mountain-travel.JPG");
    height: 73%;
    width: 100%;
    background-size: cover; }
  .card__img--4 {
    background-image: url("../img/trillo.JPG");
    height: 73%;
    width: 100%;
    background-size: cover; }
  .card__img--5 {
    background-image: url("../img/Nexter.JPG");
    height: 73%;
    width: 100%;
    background-size: cover; }
  .card__heading {
    font-size: 5rem;
    font-weight: 300;
    padding: 1rem; }
  .card__desc {
    font-size: 1.5rem;
    font-family: 'Roboto';
    padding: 0 2rem;
    text-align: center; }
  .card__link {
    text-decoration: none;
    color: black; }
